click==6.7
get
Flask==0.12.2
flask-marshmallow==0.8.0
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
marshmallow==2.13.6
marshmallow-sqlalchemy==0.13.1
post
public
python-slugify==1.2.4
query-string
request
setupfiles==0.0.50
six==1.11.0
SQLAlchemy==1.1.14
Unidecode==0.4.21
Werkzeug==0.12.2
